<div class="contenedor">
    <hr style="border-color:black;">
    <h1 >Starship</h1>
    <div class="card position" style="width: 18rem;" *ngFor="let starship of starships">
        <img [src]="starship.image" class="card-img-top" [alt]="starship.name">
        <div class="card-body">
        <h5 class="card-name">{{ starship.name }}</h5>
        <p class="card-text">model: {{ starship.model }}</p>
        <p class="card-text">manufacturer: {{ starship.manufacturer }}</p>
        <p class="card-text">cost_in_credits: {{ starship.cost_in_credits }}</p>
        <p class="card-text">length: {{ starship.length }}</p>
        <p class="card-text">max_atmosphering_speed: {{ starship.max_atmosphering_speed }}</p>
        <p class="card-text">crew: {{ starship.crew }}</p>
        <p class="card-text">passengers: {{ starship.passengers }}</p>
        <p class="card-text">cargo_capacity: {{ starship.cargo_capacity }}</p>
        <p class="card-text">consumables: {{ starship.consumables }}</p>
        <p class="card-text">hyperdrive_rating: {{ starship.hyperdrive_rating }}</p>
        <p class="card-text">MGLT: {{ starship.MGLT }}</p>
        <p class="card-text">starship_class: {{ starship.starship_class }}</p>
        <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
    </div>
</div>