<img src="assets\Star Wars.png" class="img-fluid" style="position: absolute; right: 0; top: 0; z-index: -100;">
<ul>
    <li>
        <a routerLink= "/Peliculas" > Films</a>
    </li>
    <li>
        <a routerLink= "/Personajes" > People</a>
    </li>
    <li>
        <a routerLink= "/Planetas" > Planets</a>
    </li>
    <li>
        <a routerLink= "/Especies" > Species</a>
    </li>
    <li>
        <a routerLink= "/Naves" > Starships</a>
    </li>
    <li>
        <a routerLink= "/Vehiculos" > Vehicles</a>
    </li>
</ul>

<!--app-films ></app-films>
<app-people></app-people>
<app-species></app-species>
<app-vehicles></app-vehicles>
<app-starships></app-starships>
<app-planets></app-planets-->
<router-outlet></router-outlet> 
